.container {
   border-radius: 10px;
   background-color: car(--colors-ui-base);
   box-shadow: var(--shadow);
   cursor: pointer;
   overflow: hidden;
}

.img {
   width: 100%;
   height: 200px;
   object-position: center;
   display: block;
   box-shadow: var(--shadow);
}

.info {
   font-family: var(--ffamaly);
   padding: 10px;
}

.title {
   font-weight: var(--fw-bold);
}

.population,
.region,
.capital {
   margin: 0 0 5px 0;
   font-size: var(--fs-sm);
}