.container {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.button {
   margin: 60px auto;
   align-self: flex-start;
   background-color: var(--colors-ui-base);
   border: none;
   color: var(--colors-text);
   box-shadow: var(--shadow);
   cursor: pointer;
   border-radius: 10px;
   width: 130px;
   height: 40px;
   font-family: var(--ffamaly);
   font-size: var(--fs-md);
}