.inputSearch {
   display: flex;
   align-items: center;
   padding: 1rem 2rem;
   background-color: var(--colors-ui-base);
   width: 280px;
   border-radius: 10px;
   box-shadow: var(--shadow);
   margin-bottom: 5px;
}

.inputSearch input {
   margin-left: 10px;
}

.input {
   background-color: var(--colors-ui-base);
   border: none;
   outline: none;
   color: var(--color-text);
}

@media screen and (max-width: 767px) {
   .inputSearch {
      width: 100%;
      margin-left: 10px;
      margin-right: 10px;
      margin-bottom: 30px;
   }

   .inputSearch input {
      width: 100%;
   }
}