@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap');

* {
  box-sizing: border-box;
}

:root {
  --ffamaly: 'Nunito Sans', sans-serif;
  --fs-sm: 14px;
  --fs-md: 16px;
  --fw-light: 300;
  --fw-regular: 400;
  --fw-semiBold: 600;
  --fw-bold: 700;
  --fw-exatraBold: 800;
}

body[data-theme='light'] {
  --colors-text: hsl(200, 15%, 8%);
  --colors-bg: hsl(0, 0%, 98%);
  --colors-ui-base: hsl(0, 0%, 100%);

  --shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

body[data-theme='dark'] {
  --colors-text: hsl(0, 0%, 100%);
  --colors-bg: hsl(207, 26%, 17%);
  --colors-ui-base: hsl(209, 23%, 22%);

  --shadow: rgba(245, 245, 245, 0.2) 0 0 8px;
}

body {
  margin: 0;
  font-family: var(--ffamaly);
  color: var(--colors-text);
  font-weight: var(--fw-light);
  background-color: var(--colors-bg);
}


.custom-select__menu {
  background-color: var(--colors-ui-base) !important;
  border-radius: 10px !important;
  box-shadow: var(--shadow) !important;
  width: 250px !important;
}

.custom-select__single-value {
  color: var(--color-text) !important
}

.nullSpinner {
  width: 0;
  height: 0;
  display: none
}

.spinner {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}